<deployment>
   <hosts>
    <host name="localhost"
          dir="/Users/jmalenfant/principal/Tests/Basic_CS/"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="requestGenerator"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="etape1.cvm.CVM"/>
    <jvm2hostname jvmuri="requestDistributor"
        rmiRegistryCreator="false"
        	hostname="localhost"
        mainclass="etape1.cvm.CVM"/>
  </jvms2hostnames>
</deployment>
